<h1><img class="col-1" src="https://run-pix.web.app/assets/graphics/logo_runpix.png" alt="RP"/>
Celebrate your moments</h1>
<ul>
    <li>Event: <span class="text-xl">{{Name}}</span>
        {{#if raceDate}}
            on {{raceDate}}
        {{/if}}
    </li>
    <li>    
        {{#if Location}}
            Location: {{Location}}
        {{/if}}
    </li>        
    <li>
        Organizer: 
        {{#if linkOrg}}
            <a href="{{linkOrg}}">{{raceOrg}}</a> 
        {{else}}
            {{raceOrg}}  
        {{/if}}
    </li>
    <li>Bib No :  {{bibNo}}
        <a class="btn btn-dark mx-4" href="{{pageUrl}}">Extra moments</a>
    </li>
</ul>


<img 
    src="{{imageUrl}}" 
    style="width:90vw;" />
<br/>

